
body{

	background-image: url("pattern.jpg");
}
.container{
	width: 1000px;
	margin: auto;
	background-color: white;
}
.header{
	background-color: white;
	padding: 10px;
}
.header img{
	float: left;
	width: 200px;
}

.header ul{
	text-align: right;
	margin-right: 20px;
	margin-top: 10px;
}
.header li{
	display: inline-block;
	color: blue;
	margin-right: 20px;
}
.container h1{
	font-size: 30px;
	text-align: center;
}
.article-list h3{
	font-size:20px;
	margin-left: 20px;
}
.article-list p{
	margin-left: 20px;
}
.footer{
	background-color: black;
	text-align: center;
	color: white;
	margin-top: 20px;
}
.footer h5{
	font-size: 18px;
}